* {
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 59);
  
}

.loginPage {
  margin: auto auto;
  padding: 20px 40px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 500px;
}

h2, li {
  color: white
}

Label {
  color: white;
}

.userList {
  margin: auto auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 40px;
  width: 500px;
}